<header>
    <nav>
        <div class="first" routerLink="">
            <img src="https://marketplace.canva.com/EAGSKGkgjSE/1/0/1600w/canva-blue-and-green-flat-typographic-e-commerce-online-shop-logo-HWrZrGzVSvk.jpg" alt="logo">
        </div>
        <div class="middle">
                <div class="inner">
                    <div class="input-part">
                        <input type="text" #searchInput name="search" id="search" placeholder="search by title">
                    </div>
                    <div class="logo-part">
                        <span>
                            <mat-icon>search</mat-icon>
                        </span>
                    </div>
                </div>
                
        </div>
        <div class="last">
            @if(user()?.accessToken){
                <div class="userinfo">
                    <span class="username">{{user().username}}</span>
                   
                    <span class="logo" routerLink="cart">
                        <mat-icon>shopping_cart</mat-icon>
                        @if (getCartQuantity()) {
                            <span class="cart-items">{{getCartQuantity()}}</span>
                        }
                        
                    </span>
                    
                    
                    <div class="profile" (click)="setShow()">
                        <img src={{user().profilePic}} alt="">
                    </div>
                    <div class="drop-down" [class.show]="show()">
                        <ul class="drop-down-items">
                            <li class="list-items" routerLink="profile" (click)="setShow()">Profile</li>
                            <li routerLink="login" class="list-items"(click)="logout()">Logout</li>
                        </ul>
                    </div>
                    
                </div>
               
            }@else{
                
                <button routerLink="login" class="button-nav">Login</button>
                <button routerLink="signup" class="button-nav">Signup</button> 
            }
              
        </div>
    </nav>
</header>
