.home{
    height: 100%;
    width: 100%;
    .home-content{
        width:90%;
        height: 100%;
        display: flex;
        gap: 20px;
        margin: auto;
        padding-top: 10px;
       
    
        .filter{
            h2{
                color: #646464;
            }
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .products{
            width: 75%;
            max-height: calc(100vh - 20vh);
            overflow: auto;
            padding: 20px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
}