.home{
    height: 100%;
    width: 100%;
    .home-content{
        width:90%;
        height: 100%;
        display: flex;
        gap: 20px;
        margin: auto;
       
    
        .filter{
            width: 20%;
            height: 100%;
        }
        .products{
            width: 75%;
            max-height: calc(100vh - 25vh);
            overflow: auto;
           // background-color: #dfdfdf;
            padding: 20px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
}