.home{
    height: 100%;
    width: 100%;
    .home-content{
        width:100%;
        height: 100%;
        display: flex;
        gap: 10px;
        padding-top: 5px;
    
        .filter{
            width: 25%;
            height: 100%;
            
        }
        .products{
            
            width: 75%;
            height: 100%;
            box-shadow: -10px 0px 10px 2px #dfdfdf;
        }
    }
}