<div class="home">
    <div class="home-content">
        <div class="filter">
            <h2>Filters By</h2>
            <hr>
            <button class="button-nav" (click)="MyProducts()">My Products</button>
            <div class="filter-item">
                <div>
                    Categories
                </div>
                <div>
                    Price
                </div>
            </div>
            
        </div>
        <div class="products" #scrollContainer (scroll)="onScroll($event)">
            @for (product of Products(); track product._id) {
                <app-product-item [Product]="product"></app-product-item>
            }
        </div>
    </div>
</div>