<div class="product-detail">
    <div class="product-detail-body">
        <div class="images">
            <div class="first">
                <img [src]="Product()?.imageUrls[0].imageUrl" alt="first">
            </div>
            <div class="second">
                <img [src]="Product()?.imageUrls[1].imageUrl" alt="second">
            </div>
            <div class="third">
                <img [src]="Product()?.imageUrls[2].imageUrl" alt="third">
            </div>
            <div class="fourth">
                <img [src]="Product()?.imageUrls[3].imageUrl" alt="fourth">
            </div>
        </div>
        <div class="content">
            hello
        </div>
    </div>
</div>