<div class="product-detail">
    <div class="product-detail-body">
        @if (Product().imageUrls.length>0) {
            <div class="images">
                <div class="first">
                    <img [src]=" Product()!.imageUrls[0].imageUrl" alt="first">
                </div>
                <div class="second">
                    <img [src]="Product()!.imageUrls[1].imageUrl" alt="second">
                </div>
                <div class="third">
                    <img [src]="Product()!.imageUrls[2].imageUrl" alt="third">
                </div>
                <div class="fourth">
                    <img [src]="Product()!.imageUrls[3].imageUrl" alt="fourth">
                </div>
            </div>
        }
        
        <div class="content">
            <div class="button-design">New Product</div>
            <h3>{{Product().title}}</h3>
            <span class="price">Rs. {{Product().price}}</span>
            
            <hr>
            <div class="description">
                <h2>Description</h2>
                <p>{{Product().desc}}</p>
            </div>
            <hr>
            
            <div class="stock">
                <h2>Stock:</h2>
                <span>{{Product().totalStock}}</span>
            </div>
            <div class="quantity">
                <h2>Quantity:</h2>
                <div class="quantity-select">
                    <button class="remove" (click)="removeQuantity()">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <div class="display">
                        {{quantity()}}
                    </div>
                    
                    <button class="add" (click)="addQuantity()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
               
            </div>
            <button type="submit" id="cart-button" (click)="addToCart()">
                @if (isLoading()) {
                    <span>Adding...</span>
                }@else {
                    Add To Cart
                }
            </button>
            <button type="button" id="cart-button" routerLink="/cart">
                    View Carts <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
        @if(getErrorMessage()){
            <div class="error-message" [class.active]="getErrorMessage()">
                <p>{{getErrorMessage()}}</p>
            </div>
        }
        @if(getSuccessMessage() ){
            <div class="success-message" [class.active]="getSuccessMessage()">
                <p>{{getSuccessMessage()}}</p>
            </div>
        }
    </div>
</div>