/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    padding: 0;
}
*{
    outline: none;
}
app-root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.main_layout{
    flex: 1;
    width: 85%;
    margin: auto;
    overflow-y: auto;
}


